<!DOCTYPE html>
<html lang="en">

<!-- TODO: Dark Theme -->
<!-- https://bootswatch.com/4/flatly/bootstrap.css -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.css"> <!-- Using Bootswatch theme "Lux" -->
    <script src="https://kit.fontawesome.com/9792daf399.js" crossorigin="anonymous"></script>
    <title>Final Project</title>
</head>

<!-- TODO: error message (email not exist OR Successful) -->
<% if (typeof error != 'undefined') { %>
  <div class="col-md-10 col-lg-8 col-xl-6 mx-auto mt-4 alert <%= color %>  alert-dismissible fade show" role="alert">
    <%= error %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %> 

<body style="background-color: rgb(235, 235, 235); overflow-x: hidden;">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body">
            <h1 class="text-center mb-3"><i class="fas fa-sync fa-spin text-muted"></i><i class="fas fa-key text-muted mx-2"></i>Reset Password</h1>
            <small class="text-center my-2">Send a reset password request to Admin and your password will reset to your <b>Mobile Number</b></small>

            <form action="/users/forgetPassword" method="POST">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" value=""/>
              </div>
              <button type="submit" class="btn btn-dark btn-block">Send Reset Password Request</button>
            </form>
          </div>
        </div>
      </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>